.Api {
  display: grid;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  grid-template: 1fr 5fr 1fr / 0.5fr 1fr 1fr 1fr;
}

.items {
  width: 500px;
  height: 50px;
  border: 1px solid black;

  list-style-type: none;
  margin: 0;
  display: flex;

  justify-content: center;
  align-items: center;
}

.items #Name {
  flex: 50%;
  display: grid;
}
.items #Email {
  flex: 50%;
  display: grid;
}
